<div id="cookie-notice" style = "padding: 0.5rem 1rem; display: none;
text-align: center; position: fixed; z-index:1; bottom: 0; left: 0px; padding-top: 30px;
padding-bottom: 20px; width: 100%; background: #f5f5f5; color: #3c3c3c;">
<span>This website uses cookies to ensure you get the best experience on our website.</span>
<a href="/privacy"><u>Learn more</u></a>
<br>
<input id="cookie-notice-accept" type="submit" value="Got it!" style="border-radius: 6px; background: #3b82f6; cursor: pointer; color: white; font-size: .875rem; padding: 10px 10px 8px 10px; margin: 0.5rem; width: 180px; letter-spacing: 1.5px; border-color: transparent;" onmouseover="this.style.background='#3D8BF2';" onmouseout="this.style.background='#3b82f6';">
<br>
</div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "SameSite = Strict; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-option')=='true') {
        
        function loadScriptAsync(scriptSrc, callback) {
            if (typeof callback !== 'function') {
                throw new Error('Not a valid callback for async script load');
            }
            var script = document.createElement('script');
            script.onload = callback;
            script.src = scriptSrc;
            document.head.appendChild(script);
        }

        loadScriptAsync('https://www.googletagmanager.com/gtag/js?id=G-BH0WNNTMP1', function () {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-BH0WNNTMP1', { 'anonymize_ip': true }); //REPLACE WITH YOUR GA TAG!
        })

    } else if (readCookie('cookie-notice-option')!='false'){
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-option','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

    document.getElementById('cookie-notice-deny').addEventListener("click",function() {
        createCookie('cookie-notice-option','false',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>